#construction {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 20rem;
  height: 20rem;
  border: none;
  pointer-events: none;
}